.section__banner__container {
    background-color: var(--gray-2);
    padding-block: clamp(20rem, 14.274rem + 8.939vw, 25rem);
    padding-inline: clamp(9rem, -7.721rem + 16.313vw, 23.6rem);
}

.section__banner__content {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
    align-items: center;
}

.banner__title {
    font-size: clamp(4.5rem, 3.698rem + 0.782vw, 5.2rem);
    font-weight: 600;
    color: var(--gray-6);
    text-align: center;
    line-height: 7.28rem;
}

.highlight {
    color: var(--brand-1)
}

.banner__paragraph {
    font-size: clamp(1.8rem, 1.571rem + 0.223vw, 2rem);
    font-weight: 400;
    color: var(--gray-4);
    width: 65%;
    text-align: center;
    line-height: 3rem;
}

.section__banner__button {
    padding: 2rem 3.2rem;
    border: solid 1px var(--brand-1);
    background-color: var(--brand-1);
    cursor: pointer;
    transition: ease-out .3s;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--gray-7)
}

@media (max-width:1024px) {
    .section__banner__container{
        padding-block: clamp(16rem, 3.937rem + 15.686vw, 20rem);
        padding-inline: clamp(6rem, -6.063rem + 15.686vw, 10rem);
    }
    .banner__title {
        font-size: clamp(3.1rem, 0.386rem + 3.529vw, 4rem);
    }
    .banner__paragraph{
        font-size: clamp(1.6rem, 0.997rem + 0.784vw, 1.8rem);
        width: 90%;
    }
    .section__banner__button{
        padding-block: clamp(1.6rem, 0.997rem + 0.784vw, 1.8rem);
        padding-inline: clamp(2.6rem, 1.997rem + 0.784vw, 2.8rem);
    }
}

@media (max-width:768px) {
    .section__banner__container{
        padding-block: clamp(12rem, 7.044rem + 11.662vw, 16rem);
        padding-inline: clamp(4rem, 1.522rem + 5.831vw, 6rem);
    }
    .banner__title {
        font-size: clamp(2.8rem, 2.304rem + 1.166vw, 3.2rem);
        line-height: 5rem;
    }
    .banner__paragraph{
        font-size: clamp(1.6rem, 1.352rem + 0.583vw, 1.8rem);
        width: 90%;
    }
    .section__banner__button{
        padding-block: clamp(1.4rem, 1.152rem + 0.583vw, 1.6rem);
        padding-inline: clamp(2.4rem, 2.152rem + 0.583vw, 2.6rem);
    }
    .section__banner__content{
        gap: 3.2rem;
    }
}


@media (max-width:425px) {
    .section__banner__container{
        padding-block: clamp(8rem, 0.276rem + 27.586vw, 12rem);
        padding-inline: clamp(2rem, -1.862rem + 13.793vw, 4rem);
    }
    .banner__title {
        font-size: clamp(2.6rem, 0.862rem + 6.207vw, 3.5rem);
        line-height: 4rem;
    }
    .banner__paragraph{
        font-size: clamp(1.6rem, 1.214rem + 1.379vw, 1.8rem);
        width: 90%;
    }
    .section__banner__button{
        padding-block:clamp(1rem, 0.614rem + 1.379vw, 1.2rem);
        padding-inline: clamp(1.6rem, 0.828rem + 2.759vw, 2rem);
    }
    .section__banner__content{
        gap: 2.9rem;
    }
}