:root {
    --brand-1: #4c6ef5;
    --brand-2: #364fc7;
    --gray-1: #191c1f;
    --gray-2: #212529;
    --gray-3: #343a40;
    --gray-4: #adb5bd;
    --gray-5: #ced4da;
    --gray-6: #edf2ff;
    --gray-7: #f8f9fa;

    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.section__banner__content,
.section__about__content,
.section__faq__content,
.section__comment__content {
    max-width: 1256px;
    margin: 0 auto;
}